<div class="flex">
    <div class="item-flex">
          <div class="jumbotron">
              <p class="text-center title">C A D A S T R O</p>
              <input type="email" placeholder="Nome" [(ngModel)]="nUser.name">
              <input type="email" placeholder="Login" [(ngModel)]="nUser.email">
              <input type="password" placeholder="Passwrod" [(ngModel)]="nUser.password">
              <button type="button" class="btn btn-primary btn-block" (click)="signUp()">Cadastrar</button>
          </div>
      </div>
  </div>